# PyCharm project settings
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Allure results (если хочешь, чтобы мусор не коммитился)
allure-results/

venv

automation_exercise_test/API_test

draft.py